@media (max-width: 991px) {
    .container {
        padding: 0 20px;
    }
    .title_left {
        font-size: 33px;
    }
    .catalog__content_active {
        justify-content: space-evenly;
    }
    .catalog-item {
        margin: 0 10px 20px;
    }
    .review {
        &__block {
            margin-top: 30px;
        }
        &__text {
            margin-top: 20px;
        }
        &__thumb {
            margin-right: 30px;
        }
    }
    .footer {
        &__info {
            width: 352px;
            height: 185px;
            padding: 30px 0 10px;
        }
        &__addr {
            font-size: 18px;
        }
        &__phone {
            margin-top: 20px;
        }
        &__social {
            margin-top: 12px;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                margin-top: 5px;
                font-size: 12px;
            }
        }
        &__phone {
            font-size: 17px;
        }
        button {
            width: 143px;
            height: 24px;
            font-size: 10px;
        }
    }
    .advantages {
        &__subtitle {
            height: 50px;
        }
        &__item {
            padding: 0 5px;
        }
    }
    .title_left {
        font-size: 24px;
    }
    .catalog__tab {
        font-size: 16px;
    }
    .review {
        &__block {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            padding-top: 20px;
        }
        &__title,
        &__subtitle,
        &__text {
            text-align: center;
        }
    }
    .footer {
        &__icons {
            &:hover {
                opacity: none;
            }
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 11px;
        }
        button {
            width: 100px;
            height: 20px;
            font-size: 8px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 30px;
            align-items: center;
        }
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 23px;
            text-align: center;
        }
        &__icons {
            margin-top: 50px;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
        &__icon {
            margin-bottom: 5px;
        }
        .button_main {
            width: 280px;
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 280px;
            img {
                margin-top: 15px;
            }
        }
        &__subtitle {
            margin-top: 10px;
            height: unset;
        }
    }
    .title_left {
        font-size: 13px;
        text-align: center;
    }
    .consultation__descr {
        text-align: center;
        font-size: 15px;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 10px;
        }
    }
    .review .title {
        font-size: 26px;
    }
    .footer {
        &__info {
            width: 260px;
            height: 155px;
        }
        &__addr {
            font-size: 14px;
            margin-bottom: 0;
        }
        &__phone {
            margin-top: 5px;
            font-size: 15px;
        }
        &__social {
            width: 190px;
        }
        &__social-item {
            width: 53px - 10;
            height: 52px - 10;
        }
    }
}
