.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: rgb(255, 255, 255);
        img {
            width: 31px;
            height: 30px;
        }
    }
    .next {
        right: -66px;
        left: auto;
    }
    .tns-inner {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}
@media (max-width: 1119px) {
    .carousel {
        .prev {
            left: 20px;
        }
        .next {
            right: 20px;
        }
    }
}
@media (max-width: 991px) {
    .carousel {
        &__inner {
            display: flex;
            align-items: center;
        }
        padding: 30px 0;
        .tns-inner {
            img {
                width: 620px;
            }
        }
    }
}
@media (max-width: 767px) {
    .carousel {
        .tns-inner {
            img {
                width: 430px;
            }
        }
    }
}
@media (max-width: 767px) {
    .carousel {
        .prev {
            left: 5px;
        }
        .next {
            right: 5px;
        }
        .tns-inner {
            img {
                width: 225px;
            }
        }
    }
}
